nav a {
	color: #F2D2AE !important;
	text-align: center;
	font-size: 18px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
}

#navbar {
	background: #765C3D !important;
}

#title {
	color: #FFF;
	font-size: 64px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 600;
	line-height: 72px;
	letter-spacing: -1.28px;
}

#title + p {
	color: #FFF;
	font-size: 24px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 400;
	line-height: 30px;
}

#landing {
	background: 
		linear-gradient(rgba(0, 0, 0, 0.59),rgba(0, 0, 0, 0.59)),
		url('./images/pexels-paul-ijsendoorn-33041.png');
	background-repeat: no-repeat;
	background-size: cover;
}

#getStarted {
	border: none;
	border-radius: 999px;
	background: #B59066;
	color: var(--button-text-button-primary-text, #FFF);
	text-align: center;
	font-size: 20px
	font-family: Montserrat;
	font-style: normal;
	font-weight: 600;
	line-height: 24px;
}

#description {
	color: #765C3D;
	text-align: center;
	font-size: 24px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

div .carousel-item {
	background: url(<path-to-image>), lightgray 50% / cover no-repeat;
	width: 830px;
	height: 401px;
}


/* MIKE/Arian GALLERY*/
.albums {
	background: #FFF;
	box-shadow: 0px 4px 23px 0px rgba(0, 0, 0, 0.25);
	width: 1245px;
	height: 764px;
	flex-shrink: 0;
}

.albumTitle{
    color: #765C3D;
    font-size: 40px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

#descalbum1 {
	color: #765C3D;
	font-size: 24px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

/*Arian*/
#galleryTitle{
    color: #765C3D;
    text-align: center;
    font-size: 40px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.description{
    color: #765C3D!important;
    text-align: left;
    font-size: 24px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.carouselExampleIndicators li{
    border-radius: 50%;
    width: 12px;
    height: 12px;
}

.title_description {
	color: #765C3D;
	text-align: center;
	font-size: 24px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}
/* MIKE/Arian GALLERY*/



/*start contact*/
#background {
	background: #FFF2E4;
}

#contactHeader {
	color: #765C3D;
	font-size: 40px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
}

#contactParagraph {
	color: #765C3D;
	font-size: 24px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.label-style {
	color: #B59066;
	font-size: 20px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
}

#submitBtn {
	border-radius: 999px;
	background: #B59066;
	padding: 12px 32px;

	color: var(--button-text-button-primary-text, #FFF);
	text-align: center;
	font-size: 20px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 600;
	line-height: 24px;
}
/*end contact*/

